@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    University Of South Florida<br />
    4202 E. Fowler Avenue
    Tampa, FL 33620, USA
    <br />
    <abbr title="Phone">P:</abbr>
    813-974-2011
</address>

<address>
    <strong>Support:</strong> <a href="https://api.open.fec.gov/developers/#/">Support</a><br />
</address>
