@{ 
    ViewData["Title"] = "ERD";
}


<section>
    <div class="container">
        <h1 class="jumbotron-heading">Entity Relationship Diagram(ERD)</h1>
    </div>
</section>

<div>
    <img class="rounded-circle" src="~/images/ERD.jpg" alt="Generic placeholder image" width="800" height="600">
</div>
